option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "config.settings"
    "PYTHONPATH": "/opt/python/current/app/contacts_ls:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: contacts_ls/contacts_ls/server/config/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
